<h1>Restaurants</h1>
<section>
    {{#each restaurants}}
        <article>
            <h2>{{this.name}}</h2>
            <img src="{{this.image}}" width="150"/>
        </article>
    {{/each}}
</section>